<section class="bg-light" id="home">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{{ url_for('static', filename='img/web.jpg')}}" class="d-block mx-lg-auto img-fluid"
                    alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h2 class="display-4"> Soy Damian Rojas</h2>
                <p class="lead fs-3"> Desarrollador de Software</p>
                <hr class="my-4">
                <h2 class="display-7"> Acerca de mí</h2>
   
                <p class="fs-5">Soy Licenciado en sistemas y me dedico al desarrollo de software hace 10 años. Si bien trabajo mayormente con backend también he realizado varias tareas y proyectos con frontend.
                    Me caracterizo por ser una persona didáctica, de aprender día a día, tener buenas prácticas, y por sobre todas las cosas le doy mucha importancia a la comprensión del problema para poder dar una mejor solución posible.
                    </p>
                <p class="fs-5"> En este sitio encontrarás algunos de mis trabajos y proyectos más recientes. ¡Gracias por visitar!</p>
                <a class="btn btn-primary btn-lg" href="#contact" role="button"> Contácteme</a>
            </div>
        </div>
    </div>
</section>
